@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');


:not(:defined)>* {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

html,body{
  height: 100%
}

.controls {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 8%);
  background: rgba(255, 255, 255, 0.8);
}

#variant {display: none;}

.option-bar {
  /* background-color: white; */
  display: flex;
  gap: 15px;
}

button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  border: none;
  background: #444;
  /* color: white; */
  /* line-height: 34px; */
  padding: 8px 8px;
  /* border-radius: 40px; */
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}

.progress-bar {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fefefe;
  width: 100%;
  height: 100%;
  align-items: center;
  /* transition: all ease-in-out .5s; */
  opacity: 1;
}

.progress-bar.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#variant {
  visibility: hidden;
}

.infoBox {}

#nameTitle {
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 14px;
  word-break: break-word;
}

#MatrialTitle {
  display: none;
}

.info-group {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.column-btn-group {
  display: flex;
    align-items: center;
}

.btnGroup::-webkit-scrollbar {

  height: 13px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.btnGroup::-webkit-scrollbar-thumb {

  background-color: #119574;
  border-radius: 10px;
}

.btnGroup {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 8px;
  /* overflow: scroll; */
  overflow-y: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 120px;
  transition: all ease-in-out .3s;
}
.btnGroup:empty {
  display: none;
}

.Matrial-Button {
  margin-top: 5px;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  position: relative;
  /* margin-bottom: 8px; */
  border: 4px solid transparent;
}
.Matrial-Button.active {
  border: 4px solid #119574;
}
.blink {
  animation: blinkBorder 1.5s ease-in-out 6;
}
@keyframes blinkBorder {
  0%, 100% {
      border-width: 4px;
      border-color: rgb(17, 149, 116);
  }
  50% {
      border-width: 4px;
      border-color: transparent;
      border-color: white;
  }
}

.Matrial-Button.active .Matrial-Box {
  font-weight: bold;
  color: #119574;
}

.Matrial-Box {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 10px;
  line-height: 13.5px;
}
/* #default-ar-button {
  display: none !important;
} */
#ar-button {
  opacity: 0;
  /* background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #119574;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0 27px;
  border: none; */
}

#ar-button:active {
  /* background-color: #E8EAED; */
}

#ar-button:focus {
  /* outline: none; */
}

#ar-button:focus-visible {
  /* outline: 1px solid #4285f4; */
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(-100px);
  }
}

model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
  min-width: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #DADADA;
}

input:checked+.slider {
  background-color: #119574;
}

input:focus+.slider {
  box-shadow: 0 0 1px #119574;
}

input:checked+.slider:before {
  /* -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px); */
  left: calc(100% - 19px);
}

.slider:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  left: 2px;
  bottom: 2px;
  background-color: #bebbbb;
  -webkit-transition: .4s;
  transition: .4s;
  border: none;
  bottom: auto;
  top: 50%;
  left: 7px;
  border-radius: 50%;
  transform: translateY(-50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
input:checked+.slider.round:after {
  left: auto;
  right: 8px;
  background-color: #119574;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #444;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.floating-button-wrapper,#ar-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.floating-button, #ar-button {
  height: 60px;
  width: 66px;
  border: 1px solid #119574;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 11px;
  justify-content: space-evenly;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transition: all ease-in .2s;
}
.floating-button:hover {
  color: inherit;
  background: rgba(255, 255, 255, 0.9);
}
.floating-button:active {
  color: inherit;
  background: rgba(255, 255, 255, 1);
}
.floating-button svg {
  height: 24px;
  width: 21px;
  color: #119574;
}
.custom-tooltip {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 18px 22px;
  border: 1px solid #119574;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  display: none;
}
.custom-tooltip.show {
  opacity: 1;
  display: flex;
}
.custom-tooltip a.close-tooltip {
  margin-top: 20px;
  cursor: pointer;
}

.option-bar.with-dark-mode .switch-container {
  font-size: 14px;
}
.option-bar.with-dark-mode .switch-container:first-child label.label {
  text-transform: capitalize;
}
.option-bar.with-dark-mode .switch-container:first-child label.label span {
  display: none;
}

@media (max-width: 768px) {
  .info-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .infoBox {
    display: flex;
    align-items: flex-start;
  }
  h1#nameTitle {
    margin: 0;
    margin-left: 20px;
    margin-top: -8px;
  }
  .btnGroup {
    margin: 0 20px;
    margin-bottom: 16px;
    width: auto;
  }
  /* .floating-button {
    display: none;
  } */
}

@media (max-width: 680px) {
  .info-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .option-bar {
    padding-top: 8px;
    padding-left: 86px;
  }
}