@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

:not(:defined)>* {
  display: none;
}

.latham-ar-component {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1200px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.latham-ar-component .controls {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 8%);
  background: rgba(255, 255, 255, 0.8);
}

.latham-ar-component #variant {display: none;}

.latham-ar-component .option-bar {
  display: flex;
  gap: 15px;
}

.latham-ar-component button {
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  border: none;
  background: #444;
  padding: 8px 8px;
}

.latham-ar-component model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
}

.latham-ar-component .progress-bar {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: #fefefe;
  width: 100%;
  height: 100%;
  align-items: center;
  opacity: 1;
}

.latham-ar-component .progress-bar.hide {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s;
}

.latham-ar-component .update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

.latham-ar-component #variant {
  visibility: hidden;
}

.latham-ar-component .infoBox {}

.latham-ar-component #nameTitle {
  font-size: 24px;
  line-height: 32px;
  margin-top: 8px;
  margin-bottom: 14px;
  word-break: break-word;
}

.latham-ar-component #MatrialTitle {
  display: none;
}

.latham-ar-component .info-group {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.latham-ar-component .column-btn-group {
  display: flex;
  align-items: center;
}

.latham-ar-component .btnGroup::-webkit-scrollbar {
  height: 13px;
  background-color: #D9D9D9;
  border-radius: 10px;
}

.latham-ar-component .btnGroup::-webkit-scrollbar-thumb {
  background-color: #119574;
  border-radius: 10px;
}

.latham-ar-component .btnGroup {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  padding-bottom: 8px;
  overflow-y: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 120px;
  transition: all ease-in-out .3s;
}

.latham-ar-component .btnGroup:empty {
  display: none;
}

.latham-ar-component .Matrial-Button {
  margin-top: 5px;
  margin-right: 10px;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  position: relative;
  border: 4px solid transparent;
}

.latham-ar-component .Matrial-Button.active {
  border: 4px solid #119574;
}

.latham-ar-component .blink {
  animation: blinkBorder 1.5s ease-in-out 6;
}

@keyframes blinkBorder {
  0%, 100% {
      border-width: 4px;
      border-color: rgb(17, 149, 116);
  }
  50% {
      border-width: 4px;
      border-color: transparent;
      border-color: white;
  }
}

.latham-ar-component .Matrial-Button.active .Matrial-Box {
  font-weight: bold;
  color: #119574;
}

.latham-ar-component .Matrial-Box {
  position: absolute;
  top: -20px;
  left: 0;
  font-size: 10px;
  line-height: 13.5px;
}

.latham-ar-component #ar-button {
  opacity: 0;
}

.latham-ar-component model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

.latham-ar-component model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

.latham-ar-component model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}

@keyframes circle {
  from {
    transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}

.latham-ar-component .switch-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.latham-ar-component .switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 20px;
}

.latham-ar-component .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.latham-ar-component .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: .4s;
  transition: .4s;
  min-width: 30px;
}

.latham-ar-component .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #DADADA;
}

.latham-ar-component input:checked+.slider {
  background-color: #119574;
}

.latham-ar-component input:focus+.slider {
  box-shadow: 0 0 1px #119574;
}

.latham-ar-component input:checked+.slider:before {
  left: calc(100% - 19px);
}

.latham-ar-component .slider:after {
  position: absolute;
  content: "";
  height: 5px;
  width: 5px;
  left: 2px;
  bottom: 2px;
  background-color: #bebbbb;
  -webkit-transition: .4s;
  transition: .4s;
  border: none;
  bottom: auto;
  top: 50%;
  left: 7px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.latham-ar-component .slider.round {
  border-radius: 34px;
}

.latham-ar-component .slider.round:before {
  border-radius: 50%;
}

.latham-ar-component input:checked+.slider.round:after {
  left: auto;
  right: 8px;
  background-color: #119574;
}

.latham-ar-component .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.latham-ar-component .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #444;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}

.latham-ar-component .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.latham-ar-component .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.latham-ar-component .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.latham-ar-component .floating-button-wrapper,
.latham-ar-component #ar-button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.latham-ar-component .floating-button,
.latham-ar-component #ar-button {
  height: 60px;
  width: 66px;
  border: 1px solid #119574;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 11px;
  justify-content: space-evenly;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  transition: all ease-in .2s;
}

.latham-ar-component .floating-button:hover {
  color: inherit;
  background: rgba(255, 255, 255, 0.9);
}

.latham-ar-component .floating-button:active {
  color: inherit;
  background: rgba(255, 255, 255, 1);
}

.latham-ar-component .floating-button svg {
  height: 24px;
  width: 21px;
  color: #119574;
}

.latham-ar-component .custom-tooltip {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 18px 22px;
  border: 1px solid #119574;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  display: none;
}

.latham-ar-component .custom-tooltip.show {
  opacity: 1;
  display: flex;
}

.latham-ar-component .custom-tooltip a.close-tooltip {
  margin-top: 20px;
  cursor: pointer;
}

.latham-ar-component .option-bar.with-dark-mode .switch-container {
  font-size: 14px;
}

.latham-ar-component .option-bar.with-dark-mode .switch-container:first-child label.label {
  text-transform: capitalize;
}

.latham-ar-component .option-bar.with-dark-mode .switch-container:first-child label.label span {
  display: none;
}

@media (max-width: 768px) {
  .latham-ar-component {
    height: 700px;
  }
  
  .latham-ar-component .info-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .latham-ar-component .infoBox {
    display: flex;
    align-items: flex-start;
  }
  
  .latham-ar-component h1#nameTitle {
    margin: 0;
    margin-left: 20px;
    margin-top: -8px;
  }
  
  .latham-ar-component .btnGroup {
    margin: 0 20px;
    margin-bottom: 16px;
    width: auto;
  }
}

@media (max-width: 680px) {
  .latham-ar-component .info-group {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .latham-ar-component .option-bar {
    padding-top: 8px;
    padding-left: 86px;
  }
}
